 {{> head }} 
 {{> navbar }}

 <div class="row">
     <div class="col-8">
         <h1>Un About</h1>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum enim corporis quas dolorum similique eligendi, dignissimos veritatis quia fuga dolores consequatur aliquid ullam cum laudantium quaerat eum fugiat, magnam molestias!</p>
     </div>
     <div class="col-4">
         <img src="assets/img/iron.png" class="img-thumbnail">
      </div>
  </div>

{{> footer}}